
@font-face
	font-family: MontserratBold
	src: url('../assets/fonts/montserrat/Montserrat-Bold.ttf')

@font-face
	font-family: MontserratRegular
	src: url('../assets/fonts/montserrat/Montserrat-Regular.ttf')

$slimy_green: #0F9600
$tangerine: #F48A11
$blue_winter: #219BFF
$red_sinopia: #CC3F0C

input, textarea
	outline: none


html, body, .root, .app
	margin: 0
	padding: 0
	width: 100vw
	// height: 100vh
	overflow: hidden

.app
	box-sizing: border-box
	display: grid
	grid-template-rows: max-content auto
	font-family: MontserratRegular
	& > .heading
		width: 100%
		text-align: center
		padding: 20 0
		border-bottom: 1px solid #F1F1F1
		font:
			family: MontserratBold
			size: 50

	.source-set
		box-sizing: border-box
		padding-top: 20
		overflow: auto
		display: flex
		flex-flow: column
		align-items: center
		.build_options
			min-width: 500px
			display: grid
			grid-auto-flow: row
			.heading
				display: inline
				grid-column: 1 / -1
				font:
					family: MontserratBold
					size: 25
				align-self: flex-start
				margin-bottom: 20
			& > *
				justify-self: flex-start
				display: grid
				height: 100%
				grid-template-columns: minmax(150px, 10vw) max-content
				margin-bottom: 15
				& > *
					align-self: center
				label
					font-size: 13
				.options
					margin-left: 15
					display: flex
					input
						font-family: MontserratRegular
						border: 0
						max-width: 35ch
						width: 23ch
					span, input
						border-radius: 3px
						cursor: pointer
						font-size: 13
						padding: 5 15 6 15
						margin-right: 10
						background-color: #EFEFEF
						&.selected
							color: white
							background-color: $slimy_green
						&:last-child
							margin: 0

				font-size: 12
				

		.editor
			margin-top: 30
			background-color: #FAFAFA
			padding: 20 50
			font:
				family: monospace
				size: 20
				weight: 900
			& > *:first-child
				display: flex
				justify-content: space-between
				.load
					align-self: center
					justify-self: center
					cursor: pointer
					background-color: $blue_winter
					color: white
					padding: 5 15 4 15
					border-radius: 100px
					font-size: 12
					&.disabled
						cursor: not-allowed
						background-color: #DADADA
			textarea
				resize: none
				appearance: none
				border: 0
				background-color: #FAFAFA
				color: #4A4A4A
				font:
					size: 15
					family: monospace
				margin: 20 20

		.create
			justify-self: center
			cursor: pointer
			background-color: $slimy_green
			padding: 10 25
			margin-bottom: 5
			border: 0
			margin-top: 30
			font-size: 20
			border-radius: 3px
			color: white
			font-family: MontserratRegular
			&.disabled
				cursor: not-allowed
				background-color: #CACACA
			&.success, &.error
				display: flex
				cursor: default
				font-size: 15
				padding: 5 25
				img
					height: 15
					align-self: center
					margin-right: 10
			&.error
				background-color: $red_sinopia

	.token-input
		position: absolute
		height: 100vh
		width: 100vw
		display: grid
		grid-template-rows: max-content 50px max-content
		background-color: rgba(1, 1, 1, 0.8)
		padding-top: 40vh
		img
			display: none
		& > *
			justify-self: center
		input
			width: 12ch
			font:
				family: MontserratRegular
				size: 18
			padding: 10 20
			border-radius: 3px
			border: 0
		.err
			cursor: pointer
			display: flex
			align-items: center
			align-self: flex-start
			background-color: $red_sinopia
			font-size: 12
			padding: 2 15 3 15
			margin-top: 10
			border-radius: 100px
			color: white
			img
				height: 8
				margin-left: 10
		.submit
			cursor: pointer
			grid-row: -2 / -1
			background-color: $slimy_green
			color: white
			padding: 5 15
			border-radius: 3px


@media only screen and (max-width: 500px)
	.app
		& > .heading
			font-size: 30
			text-align: center

		.source-set
			width: 100%
			.build_options
				box-sizing: border-box
				align-self: flex-start
				padding: 0 20
				min-width: 100vw
				overflow: hidden
				.heading
					font-size: 23
				& > *
					grid-template-columns: minmax(30vw, 120px) auto !important
					input
						max-width: 200px !important
						padding: 3 5
					span
						padding: 2 5 !important
			.editor
				padding: 20 10
				textarea
					margin: 20 10

		.token-input
			grid-template-rows: repeat(2, max-content) 50px max-content
			padding-top: 0
			img
				display: block
				margin: 20vmin 10vmin 0 0
				padding-bottom: 150
				justify-self: flex-end
